<!DOCTYPE HTML>
<html>

<head>
	{% include head.html %}

</head>

<body class="is-loading">

	<!-- Wrapper -->
	<div id="wrapper" class="fade-in">
		{% include nav.html %}

		<!-- <ul class="post-list">
			{% for post in paginator.posts %}
			  <li>
				<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
		
				<h2>
				  <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
				</h2>
			  </li>
			{% endfor %}
		  </ul> -->


		<!-- Posts -->
		<div id="main">
			<section class="posts">
				{% for post in site.posts %}
				{% if post.private != true %}

				<a href="{{ post.url }}">
					{% if post.guest %}
					<article class="guest">
						{% else %}
						<article>
							{% endif %}
							{% if post.image %}
							<img src="{{ post.image }}" />
							{% else %}
							<img src="/images/no_photo.png" />
							{% endif %}
							<header>
								<h2>{{ post.title }}</h2>
								{% if post.guest %}
								<span class="date">{{ post.date | date_to_string }} | Ein Gastbeitrag von
									{{ post.author }}</span>
								{% else %}
								<span class="date">{{ post.date | date_to_string }}</span>
								{% endif %}
								<p class="bottom">{{ post.excerpt }}</p>
							</header>
						</article>
				</a>
				{% endif %}
				{% endfor %}

			</section>
		</div>

		<!-- 
			Showing buttons to move to the next and to the previous list of posts (pager buttons).
		  -->
		<!-- {% if paginator.total_pages > 1 %}
		<nav>
			{% if paginator.previous_page %}
			<a class="button"
				href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Neuer
				stuff</a>
			{% endif %}
			{% if paginator.next_page %}
			<a class="button" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Alter
				Stuff</a>
			{% endif %}
			</ul>
		</nav>
		{% endif %} -->
		<!-- Footer -->
		{% include foot.html %}

	</div>

</body>

</html>