<!DOCTYPE HTML>
<html>

<head>
	{% include head.html %}
</head>

<body class="is-loading">

	<!-- Wrapper -->
	<div id="wrapper" class="fade-in">

		{% include nav.html %}

		<!-- Main -->
		<div id="main">

			<!-- Post -->
			<section class="post">
				<p>{{content}}</p>
			</section>

			<!-- Footer -->
			<footer>
				<ul class="actions">
					<li><a href="/blog/" class="button">Zum Affentheater</a></li>
				</ul>
			</footer>
		</div>

		<!-- Footer -->
		{% include foot.html %}

	</div>


</body>

</html>