/* Footer */
	#copyright {
		position: relative;
		color: #eee;
		cursor: default;
		font-family: _font(family-heading);
		font-size: 0.8rem;
		font-weight: 200;
		letter-spacing: 0.075em;
		line-height: 1.5;
		text-align: center;
		text-transform: uppercase;
		margin: (_size(padding) * 2) auto (_size(padding) * 4) auto;
		width: calc(100% - #{_size(padding) * 2});
		max-width: _size(wrapper);
		z-index: 2;
		

		a {
			color: inherit;
			border-bottom-color: inherit;
			display: block;
		}
		
		img {
			margin-bottom: 2rem;
			filter: grayscale(1);
		}

	}