/* Nav */
#hero {
	text-align: center;
	> h3 {
		margin-top: 1rem;
	}
}

#nav {
	overflow: hidden;
	position: relative;
	z-index: 2;
	margin-bottom: 2rem;

	ul {
		&.links {
			margin-left: auto;
			margin-right: auto;
			@include vendor("display", "flex");
			@include vendor("flex-grow", "1");
			@include vendor("flex-shrink", "1");
			align-items: center;
			justify-content: center;
			font-family: _font(family-heading);
			font-weight: _font(weight-heading);
			letter-spacing: 0.075em;
			list-style: none;
			margin-bottom: 0;
			padding-left: 0;
			text-transform: uppercase;

			li {
				display: block;
				padding-left: 0;
				border: 0;

				a {
					color: black;
					@include vendor(
						"transition",
						(
							"background-color #{_duration(transition)} ease-in-out",
							"color #{_duration(transition)} ease-in-out"
						)
					);
					display: block;
					font-size: 0.8rem;
					text-align: center;
					outline: none;
					padding: 0 2rem;
				}

				&.active {
					a {
						color: _palette(invert, bg);

						&:hover {
							color: _palette(invert, accent) !important;
						}
					}
				}
			}
		}

		&.icons {
			@include vendor("flex-grow", "0");
			@include vendor("flex-shrink", "0");
			margin-bottom: 0;
		}
	}

	@include breakpoint(small) {
		> ul {
			&.links {
				flex: 1 1 0px;
				> li {
					width: 33%;
					a {
						padding: 0;
					}
				}
			}
		}
	}
}
